.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.title {
    font-size: 28px;
    font-weight: 900;
    margin-bottom: 20px;
}

.price {
    font-weight: 600;
    font-size: 20px;
}